<div id="global-message-container" hx-swap-oob="true"
    style="position:fixed;top:16px;left:50%;transform:translateX(-50%);z-index:2000;">
    {% if messages %}
    {% for msg in messages %}
    <div class="message-popup shadow-lg mb-2">
        {% if msg.tags == 'success' %}
        <div class="message-icon bg-success">
            <i class="bi bi-check-lg"></i>
        </div>
        {% else %}
        <div class="message-icon bg-danger">
            <i class="bi bi-x-lg"></i>
        </div>
        {% endif %}
        <div class="fw-bold text-dark flex-grow-1">{{ msg|safe }}</div>
        <button type="button" class="btn-close ms-2" onclick="this.parentElement.remove()"></button>
    </div>
    {% endfor %}
    <script>
        setTimeout(function () {
            var messages = document.querySelectorAll('.message-popup');
            messages.forEach(msg => {
                msg.style.opacity = '0';
                msg.style.transition = 'opacity 0.2s ease-out';
                setTimeout(() => msg.remove(), 200);
            });
        }, 2000);
    </script>
    {% endif %}
</div>